/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');


/* Components */
@import url('./components/button.css');
@import url('./components/banner.css');
@import url('./components/cards.css');
@import url('./components/each-card.css');
@import url('./components/footer.css');




/* Utilities */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

/* Custom design below! */

